User-agent: *
Crawl-delay: 5
Disallow: /sh/

User-agent: googlebot
Disallow: /index.php?P=AdvancedSearch
Disallow: /index.php?P=SearchResults
Disallow: /index.php?P=Login
Disallow: /index.php?P=RequestAccount
Disallow: /index.php?P=ForgottenPassword
Disallow: /index.php?P=LeaveFeedback
Disallow: /index.php?P=GoTo&ID=
Disallow: /g*/f*
